
<div id="wieso3" class="section wieso-sub-section">
  <div class="row top-placeholder-10"></div>
  <div id="wieso3-text" class="row justify-content-center">
    <div class="col-10 col-sm-5">
      <div id="wieso3-header" class="row justify-content-center">
        <p class="text-black-header">UNSERE KUNDEN.</p>
      </div>
    </div>
  </div>
  <div id="wieso3-customers" class="row justify-content-center">
    <div class="col-10 col-md-8">
      <div id="customer-row-1" class="row justify-content-center">
        <div class="col-2">
          <app-customer-box logoUrl="subwayLogo" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box logoUrl="milramLogo" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
      </div>
      <div id="customer-row-2" class="row justify-content-center">
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
      </div>
      <div id="customer-row-3" class="row justify-content-center">
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
      </div>
      <div id="customer-row-4" class="row justify-content-center">
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
      </div>
      <div id="customer-row-5" class="row justify-content-center">
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
        <div class="col-2">
          <app-customer-box src="" href=""></app-customer-box>
        </div>
      </div>
    </div>
  </div>
  <div id="wieso3-right-arrow" class="angle-right-container text-black">
    <a href="#" class="angle-right-button">
      <div class="row justify-content-end">
        <div class="col">
          <div class="angle-right-text">WIE ARBEITET <br> ENORMEDIA?</div>
        </div>
        <div class="col">
          <fa class="angle-right" size="4x" name="angle-right"></fa>
        </div>
      </div>
    </a>
  </div>
  <div class="row navigation-footer container-fluid align-items-end">
  </div>
</div>
<div id="wieso4" class="section wieso-footer">
  <app-map></app-map>
</div>