
<section id="wieso1" class="wieso-sub-section">
    <nav class="sub-navbar">
        <a href="#" class="sub-navbar-wieso active" >WIESO?</a>
        <a href="#" class="sub-navbar-wie ">WIE?</a>
      <a href="#" class="sub-navbar-was" >WAS?</a>
    <a href="#" class="sub-navbar-wer" >WER?</a>
    <hr class="sub-navbar-divider"/>
  </nav>
    <div class="row top-placeholder-40 d-block d-lg-none"></div>
    <div id="wieso1-mann-background-sm" class ="d-block d-lg-none"></div>
    <div id="wieso1-mann-background" class="d-none d-lg-block"></div>
    <div class="row top-placeholder-20 d-none d-lg-block"></div>
    <div class="row wieso-1-person d-sm-none">
    </div>
    <div id="wieso1-text" class="row justify-content-center">
      <div class="col-lg-5 offset-lg-2 col-md-8 col-8">
        <div id="wieso1-question" class="row justify-content-center">
          <p class="text-question">WAS EINE GUTE MEDIAAGENTUR HEUTE KOSTEN SOLLTE?</p>
        </div>
        <hr id="wieso1-divider" class="question-divider content-text-divider" />
        <div id="wieso1-buzzword" class="row justify-content-center">
          <p class="text-buzzword">NICHTS.</p>
        </div>
        <div id="wieso1-details" class="row justify-content-center">
          <div class="col-12 col-md-12">
            <p class="text-details">
              <font face="unit-bold">Oder sogar noch weniger.</font>
              Oder sogar noch weniger. Eine gute Mediaagentur bietet ihren Kunden nämlich maximale Effizienz und beste Konditionen für den
              Mediaeinkauf. Die Folge: Sie sparen Geld – und zwar in einem Umfang, der die Agenturleistung mühelos abdeckt. Das einzige, 
              was Sie jetzt noch investieren sollten, ist ein wenig Zeit, um Enormedia etwas besser kennenzulernen. Denn natürlich gibt 
                es in neben der Kostenseite einige Seiten mehr über eine gute Mediaagentur zu berichten: zum Beispiel über Relevanz, 
                Transparenz oder Verbindlichkeit. Schauen Sie sich gerne einmal hier um: von links nach rechts für einen schnellen Überblick
                 – oder von oben nach unten für tiefere Erkenntnisse. Sie können natürlich auch direkt Kontakt aufnehmen, wenn Sie zusätzlich 
                 noch einige Minuten sparen wollen.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="wieso1-right-arrow" class="angle-right-container">
        <a href="#" class="angle-right-button">
            <div class="row justify-content-end">
                <div class="col-6">
                  <div class="angle-right-text">WIE ARBEITET <br> ENORMEDIA?</div>
                </div>
                <div class="col-6">
                  <fa class="angle-right" size="4x" name="angle-right"></fa>
                </div>
              </div>
        </a>
      </div>
  <a href="#"><div id="wieso1-angle-down-container" class="angle-down-container">
      <div class="row justify-content-center">
        <div id="wieso-1-angle-down-text" class="angle-down-text">SIE WOLLEN TROTZDEM ZAHLEN?</div>
      </div>
      <div class="row justify-content-center">
        <fa class="angle-down" size="4x" name="angle-down"></fa>
      </div>
</div> </a>  
  <div class="row navigation-footer container-fluid align-items-end">
    </div>
  </section>
  <section id="wieso2" class="wieso-sub-section">
      <div class="row top-placeholder-10"></div>
    <div id="wieso2-text-wrapper" class="col-12"> 
    <div id="wieso2-text" class="row justify-content-center">
      <div class="col-lg-5 col-md-8 col-sm-8 col-8">
        <div id="wieso2-header" class="row justify-content-center">
          <p class="text-black-header">MANCHMAL SAGEN ZAHLEN MEHR ALS WORTE.</p>
        </div>
        <div id="wieso2-data-wrapper" class="d-none d-sm-block">
            <div class="row top-placeholder-5"></div>
          <div id="wieso2-numbers" class="row">
            <div id="wieso2-umsatz-label" class="col-3 text-black-umsatz-label">EURO <br> UMSATZ IN<br> JAHR 2018</div>
            <div id="wieso2-umsatz-number" class="col-8 text-black-umsatz-number ">8000000</div>
          </div>
          <div id="wieso2-haushalt" class="row">
            <div id="wieso2-haushalt-number" class="col-6 offset-3 text-black-haushalt-number">31714248</div>
            <div id="wieso2-haushalt-label"class="col-2 text-black-haushalt-label">ERREICHBARE<br>HAUSHALTE</div>
          </div>
          <div id="wieso2-partner" class="row">
            <div id="partner1" class="col-6">
              <div id="verteilpartner-row" class="row">
                <div id="wieso2-verteilpartner-label" class="col-4 offset-4 text-black-verteilpartner-label ">VERTEIL-<br>PARTNER</div>
                <div id="wieso2-verteilpartner-number" class="col-4 text-black-verteilpartner-number "><span class="count">122</span></div>
              </div>
              <div id="promotion-row" class="row">
                <div id="wieso2-promotion-label" class="col-4 offset-2 text-black-promotion-label ">PROMOTION<br>PARTNER</div>
                <div id="wieso2-promotion-number"class="col-6 text-black-promotion-number"><span class="count">7500</span></div>
              </div>
            </div>
            <div id="partner2" class="col-6">
              <div class="row">
                <div id="wieso2-partner-home-number" class="col-7 text-black-partner-home-number"><span class="count">54</span></div>
                <div id="wieso2-partner-home-label" class="col-3 text-black-partner-home-label">PARTNER<br>OUT-OF-HOME</div>
              </div>
            </div>
          </div>
          <div id="wieso2-verlag" class="row">
            <div id="wieso2-verlag-label" class="col-2 offset-1 text-black-verlag-label">
              VERLAGS-<br>PARTNER
            </div>
            <div id="wieso2-verlag-number" class="col-3 text-black-verlag-number">
              <span class="count">160</span>
            </div>
            <div id="wieso2-druck-number" class="col-3 text-black-druck-number">
              <span class="count">712</span>
            </div>
            <div id="wieso2-druck-label" class="col-2 text-black-druck-label ">
              PARTNER-<br>DRUCKEREIEN
            </div>
          </div>
        </div>
        <div id="wieso2-sm-data-wrapper" class="d-block d-sm-none">
            <div class="row top-placeholder-5"></div>
          <div id="wieso2-sm-numbers" class="row">
            <div id="wieso2-sm-umsatz-label" class="col-4 text-black-umsatz-label">EURO <br> UMSATZ IN<br> JAHR 2018</div>
            <div id="wieso2-sm-umsatz-number" class="col-8 text-black-umsatz-number ">8000000</div>
          </div>
          <div id="wieso2-sm-haushalt" class="row">
            <div id="wieso2-sm-haushalt-number" class="col-8 text-black-haushalt-number">31714248</div>
            <div id="wieso2-sm-haushalt-label"class="col-4 text-black-haushalt-label">ERREICHBARE<br>HAUSHALTE</div>
          </div>
          <div id="wieso2-sm-partner" class="row">
            <div id="partner1" class="col-6">
              <div id="verteilpartner-row" class="row">
                <div id="wieso2-sm-verteilpartner-label" class="col-6 text-black-verteilpartner-label ">VERTEIL-<br>PARTNER</div>
                <div id="wieso2-sm-verteilpartner-number" class="col-6 text-black-verteilpartner-number "><span class="count">122</span></div>
              </div>
              <div id="promotion-sm-row" class="row">
                <div id="wieso2-sm-promotion-label" class="col-6 text-black-promotion-label ">PROMOTION<br>PARTNER</div>
                <div id="wieso2-sm-promotion-number"class="col-6 text-black-promotion-number"><span class="count">7500</span></div>
              </div>
            </div>
            <div id="partner2-sm" class="col-6">
              <div class="row">
                <div id="wieso2-sm-partner-home-number" class="col-6 text-black-partner-home-number"><span class="count">54</span></div>
                <div id="wieso2-sm-partner-home-label" class="col-4 text-black-partner-home-label">PARTNER<br>OUT-OF-HOME</div>
              </div>
            </div>
          </div>
          <div id="wieso2-sm-verlag" class="row">
            <div id="wieso2-sm-verlag-lable" class="col-3  text-black-verlag-label">
              VERLAGS-<br>PARTNER
            </div>
            <div id="wieso2-sm-verlag-number" class="col-3 text-black-verlag-number">
              <span class="count">160</span>
            </div>
            <div id="wieso2-sm-druck-number" class="col-3 text-black-druck-number">
              <span class="count">712</span>
            </div>
            <div id="wieso2-sm-druck-lable" class="col-3 text-black-druck-label ">
              PARTNER-<br>DRUCKEREIEN
            </div>
          </div>
        </div>
      </div>
    </div>
  
      
</div>

<div id="wieso2-right-arrow" class="angle-right-container text-black">
    <a href="#" class="angle-right-button">
        <div class="row justify-content-end">
            <div class="col-6">
              <div class="angle-right-text">WIE ARBEITET <br> ENORMEDIA?</div>
            </div>
            <div class="col-6">
              <fa class="angle-right" size="4x" name="angle-right"></fa>
            </div>
          </div>
    </a>
  </div>
  <a href="#"><div id="wieso2-angle-down-container" class="angle-down-container text-black">
  <div class="row justify-content-center">
    <div id="wieso-2-angle-down-text" class="angle-down-text">WER VETRAUT ENORMEDIA?</div>
  </div>
  <div class="row justify-content-center">
    <fa class="angle-down" size="4x" name="angle-down"></fa>
  </div>
</div> </a>  
<div class="row navigation-footer container-fluid align-items-end">
</div>
  </section>
  <section id="wieso3" class="wieso-sub-section">
      <div class="row top-placeholder-10"></div>
        <div id="wieso3-text" class="row justify-content-center">
      <div class="col-10 col-sm-5">
        <div id="wieso3-header" class="row justify-content-center">
          <p class="text-black-header">UNSERE KUNDEN.</p>
        </div>
      </div>
    </div>

    <div id="wieso3-customers" class="row justify-content-center">
      <div class="col-10 col-md-8">
        <div id="customer-row-1" class="row justify-content-center">
          <div class="col-2">
            <app-customer-box logoUrl="subwayLogo" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box logoUrl="milramLogo" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
        </div>
        <div id="customer-row-2" class="row justify-content-center">
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
        </div>
        <div id="customer-row-3" class="row justify-content-center">
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
        </div>
        <div id="customer-row-4" class="row justify-content-center">
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
        </div>
        <div id="customer-row-5" class="row justify-content-center">
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
          <div class="col-2">
            <app-customer-box src="" href=""></app-customer-box>
          </div>
        </div>
      </div>
    </div>
    <div id="wieso3-right-arrow" class="angle-right-container text-black">
        <a href="#" class="angle-right-button">
            <div class="row justify-content-end">
                <div class="col">
                  <div class="angle-right-text">WIE ARBEITET <br> ENORMEDIA?</div>
                </div>
                <div class="col">
                  <fa class="angle-right" size="4x" name="angle-right"></fa>
                </div>
              </div>
        </a>
      </div>  
    <div class="row navigation-footer container-fluid align-items-end">
    </div>
  </section>
  <section id="wieso4"  class="wieso-footer">
    <app-map></app-map>
    </section> 
