
<div class="map-container">


<agm-map class="map" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [zoomControl]="false" [disableDefaultUI]="false" [styles]='styles'>
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>

  <div class="contact-container">
        <div class="row justify-content-center">
            <p class="map-header-text">WIR MÖCHTEN, DASS SIE UNS GUT FINDEN. UND ZWAR HIER:</p>
          </div>
          <div class="row">
            <div class="col-6 offset-6" >
              <p class="map-address-text">  enorMedia GmbH & Co. KG <br>
                Schloßplatz 11 <br>
                26122 Oldenburg <br><br>
                Tel.: 0441 - 800 885 - 0 <br>
                Fax.: 0441 - 800 885 - 28 <br><br>
                <a href="#" data-toggle="modal" data-target="#contactModal"><span class="text-underline">HIER GEHT’S ZUM KONTAKTFORMULAR</span></a></p>
            </div>
          </div>
        </div>
        <div class="footer-navbar">
            <a href="#">IMPRESSUM</a>
            <a href="#">DATENSCHUTZ</a>
        </div>

      </div>