<section id="wie1" class="wie-sub-section">
  <nav class="sub-navbar">
    <a href="#" class="sub-navbar-wieso">WIESO?</a>
    <a href="#" class="sub-navbar-wie active">WIE?</a>
    <a href="#" class="sub-navbar-was">WAS?</a>
    <a href="#" class="sub-navbar-wer">WER?</a>
    <hr class="sub-navbar-divider" />
  </nav>

  <div id="wie1-frau-background-sm" class="col-6 d-block d-lg-none"></div>
  <div id="wie1-mann-background-sm" class="col-6 d-block d-lg-none"></div>
  <div id="wie1-mann-background" class="d-none d-lg-block"></div>
  <div id="wie1-frau-background" class="d-none d-lg-block"></div>
  <div class="row top-placeholder-20 d-none d-lg-block"></div>
  <div class="row top-placeholder-40 d-block d-lg-none"></div>
  <div id="wie1-text" class="row justify-content-center">
    <div class="col-lg-4 col-md-8 col-10">
      <div id="wie1-question" class="row justify-content-center">
        <p class="text-question">WIE DIE ZUSAMMENARBEIT MIT EINER GUTEN MEDIAAGENTUR SEIN SOLLTE?</p>
      </div>
      <hr id="wie1-divider" class="content-text-divider" />
      <div id="wie1-buzzword" class="row justify-content-center">
        <p class="text-buzzword">EINFACH.</p>
      </div>
      <div id="wie1-details" class="row justify-content-center">
        <div class="col">
          <p class="text-details">
            <font face="unit-bold">Wir verstehen unseren Job.</font>
            Und sorgen dafür, dass Sie uns verstehen.
            Den Einsatz von diffusen Allgorithmen und grenzwissenschaftlichem Blendwerk überlassen wir gern anderen.
            Bei aller notwendigen Expertise sehen wir unsere Arbeit nämlich als ehrliches Handwerk:
            Unbedingte Qualitäts- und Termintreue, wie auch eine lückenlose Nachvollziehbarkeit aller
            Schritte von der Planung über die Buchung bis zum Controlling, sind oberstes Gebot.
            Und um es für Sie noch etwas einfacher zu machen, haben wir mit unseren Netzwerkpartnern Feinrot
            und Umfrageheld zwei exzellente Partner für Kreation und Marktforschung mit im Boot.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div href="#" id="wie1-left-arrow" class="angle-left-container">
    <a class="angle-left-button">
      <div class="row">
        <div class="col">
          <fa class="angle-left" size="4x" name="angle-left"></fa>
        </div>
        <div class="col">
          <div class="angle-left-text">WIESO <br> ENORMEDIA?</div>
        </div>
      </div>
    </a>
  </div>

  <div id="wie1-angle-right-container" class="angle-right-container">
    <a href="#" class="angle-right-button">
      <div class="row justify-content-end">
        <div class="col">
          <div class="angle-right-text">WAS LEISTET <br> ENORMEDIA?</div>
        </div>
        <div class="col">
          <fa class="angle-right" size="4x" name="angle-right"></fa>
        </div>
      </div>
    </a>
  </div>
  <a href="#"><div id="wie1-angle-down-container" class="angle-down-container">
    <div class="row justify-content-center">
      <div id="wieso-1-angle-down-text" class="angle-down-text">KLINGT DAS NICHT EIN BISSCHEN EINFACH?</div>
    </div>
    <div class="row justify-content-center">
      <fa class="angle-down" size="4x" name="angle-down"></fa>
    </div>
  </div>
  </a>
  <div class="row navigation-footer container-fluid align-items-end">
  </div>
</section>


<section id="wie2" class="wie-sub-section wie-oversize">
  <div class="row top-placeholder-10 d-block d-md-none"></div>
  <div class="row top-placeholder-15 d-none d-md-block"></div>
  <div id="wie2-content" class="row justify-content-center wie2-content-wrapper">
    <!-- <div id="wie2-placeholder" class="row to-bottom d-none d-md-block"></div> -->
    <div id="wie2-text-wrapper" class="col-10 col-md-8 col-lg-8 col-xl-5">
      <!--         <div  class="row top-placeholder-0 d-block d-md-none"></div>
        <div  class="row top-placeholder-5 d-none d-md-block"></div> -->
      <div id="wie2-header" class="row justify-content-center">
        <p class="wie2-italic-header">BERATUNG, GEOMARKETING, ANALYSE, PLANUNG, EINKAUF UND CONTROLLING </p>
      </div>
      <div id="wie2-subheader" class="row justify-content-center">
        <p class="wie2-ultra-header">DAMIT ES FÜR SIE EINFACH WIRD, MACHEN WIR ES UNS NICHT LEICHT.</p>
      </div>
      <div id="wie2-details" class="row justify-content-center">
        <p class="wie2-text">Kurz gesagt: Wir schnüren nicht einfach ein nationales Standardpaket für Sie,
          sondern nutzen unser langjähriges Know-How über die Struktur der verschiedensten Regionen Deutschlands
          für höchst individuelle Medialösungen mit minimalen Streuverlusten. Kurz gesagt: Wir schnüren nicht einfach
          ein nationales Standardpaket für Sie,
          sondern nutzen unser langjähriges Know-How über die Struktur der verschiedensten Regionen Deutschlands
          für höchst individuelle Medialösungen mit minimalen Streuverlusten.
        </p>
      </div>
    </div>
  </div>

  <div id="wie2-carousel-wrapper" class="row justify-content-center">
    <div class="col-1 wie2-carousel-left-arrow">
    </div>
    <div id="wie2-carousel" class="col-xl-4 col-lg-8 col-md-8 col-8">
      <app-wie2-carousel></app-wie2-carousel>
    </div>
    <div class="col-1 wie2-carousel-right-arrow">
    </div>
  </div>
  <div id="wie2-left-arrow" class="angle-left-container text-black">
    <a href="#" class="angle-left-button">
      <div class="row">
        <div class="col">
          <fa class="angle-left" size="4x" name="angle-left"></fa>
        </div>
        <div class="col">
          <div class="angle-left-text">WIESO <br> ENORMEDIA?</div>
        </div>
      </div>
    </a>
  </div>

  <div id="wie2-angle-right-container" class="angle-right-container text-black">
    <a href="#" class="angle-right-button">
      <div class="row justify-content-end">
        <div class="col">
          <div class="angle-right-text">WAS LEISTET <br> ENORMEDIA?</div>
        </div>
        <div class="col">
          <fa class="angle-right" size="4x" name="angle-right"></fa>
        </div>
      </div>
    </a>
  </div>
  <a href="#"><div id="wie2-angle-down-container" class="angle-down-container text-black">
    <div class="row justify-content-center">
      <div id="wieso-1-angle-down-text" class="angle-down-text">FEINROT</div>
    </div>
    <div class="row justify-content-center">
      <fa class="angle-down" size="4x" name="angle-down"></fa>
    </div>
  </div>
  <div class="row navigation-footer container-fluid align-items-end">
  </div>
  </a>
</section>
<section id="wie3" class="wie-sub-section">
  <div class="row top-placeholder-20"></div>
  <div class="row">
    <div id="wie3-header-text" class="col-10 col-md-10 col-lg-8 col-xl-6 mx-auto">
      <p id="wie3-header" class="wie3-light-italic-header">EFFEKTIV KREATIV: UNSERE PARTNERAGENTUR FEINROT.</p>
      <div id="wie3-red-header-wrapper" class="row justify-content-center">
        <p id="wie3-red-header" class="wie3-ultra-header">WENN SIE NOCH GAR NICHT<br>
          AUF DEM ZETTEL HABEN,<br>
          WAS SIE SCHALTEN SOLLEN: <br>
          FEINROT HILFT IHNEN GERNE</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div id="wie3-detail" class="col-6 offset-4 col-md-4 offset-md-5">
      <hr class="content-text-divider-black" />
      <p class="wie3-detail-text">
        <font face="unit-bold">Wie, wo, wann und für wen?</font> – das sind die Fragen,
        mit denen sich Enormedia jeden Tag auseinandersetzt. Wenn es um das Was geht,
        verweisen wir gerne auf unseren Kreativpartner: die Feinrot Kreativgesellschaft.
        Hier finden Sie Werbung, die ankommt. Für Produkte, Dienst­leistungen und Ideen.
        Effektiv. Kreativ. Wie das genau funktioniert? Schauen Sie doch einfach mal hier.

      </p>
      <hr class="content-text-divider-black" />
    </div>
  </div>
  <div id="wie3-left-arrow" class="angle-left-container text-black">
    <a href="#" class="angle-left-button">
      <div class="row">
        <div class="col">
          <fa class="angle-left" size="4x" name="angle-left"></fa>
        </div>
        <div class="col">
          <div class="angle-left-text">WIESO <br> ENORMEDIA?</div>
        </div>
      </div>
    </a>
  </div>

  <div id="wie3-angle-right-container" class="angle-right-container text-black">
    <a href="#" class="angle-right-button">
      <div class="row justify-content-end">
        <div class="col">
          <div class="angle-right-text">WAS LEISTET <br> ENORMEDIA?</div>
        </div>
        <div class="col">
          <fa class="angle-right" size="4x" name="angle-right"></fa>
        </div>
      </div>
    </a>
  </div>
  <a href="#"><div id="wie3-angle-down-container" class="angle-down-container text-black">
    <div class="row justify-content-center">
      <div id="wie3-angle-down-text" class="angle-down-text">REGIOPINION</div>
    </div>
    <div class="row justify-content-center">
      <fa class="angle-down" size="4x" name="angle-down"></fa>
    </div>
  </div>
  </a>
  <div class="row navigation-footer container-fluid align-items-end">
  </div>
</section>
<section id="wie4" class="wie-sub-section">
  <div class="row top-placeholder-20"></div>
  <div class="row">
    <div class="col-8 col-lg-4 col-sm-6 mx-auto">
      <div id="wie4-text-box">
        <div id="wie4-header" class="row justify-content-center">
          <p class="wie4-light-italic-header">UNSER PARTNER UMFRAGEHELD:</p>
        </div>
        <div id="wie4-subheader" class="row justify-content-center">
          <p class="wie4-black-header">IHRE ZIELGRUPPE? DIE WERDEN SIE KENNENLERNEN.</p>
        </div>
        <div id id="wie4-details" class="row justify-content-center">
          <p class="wie4-detail-text">
            Die Zeiten der klaren Strukturen und unverrückbaren Wahrheiten
            sind leider vorbei. Beschleunigt durch Digitalisierung und Social Media
            verschieben sich Werte, Wünsche und Vorstellungen in den Köpfen schneller
            als jemals zuvor. Was gestern noch wichtig war ist heute schon Makulatur – im Großen wie im Kleinen.
            Um so wichtiger ist es, Ihre Zielgruppe laufend im Blick zu behalten und Märkte und
            Positionierung kritisch zu hinterfragen. Unsere Kollegen von Umfrageheld liefern Ihnen
            hierfür die passenden Daten. Schnell, zielgenau und authentisch. Wie Umfrageheld arbeitet?
            Das erfahren Sie hier.
          </p>
        </div>
        <div id="regiopinion-logo" class="row justify-content-center">
        </div>
      </div>
    </div>
  </div>
  <div id="wie4-left-arrow" class="angle-left-container text-black">
    <a href="#" class="angle-left-button">
      <div class="row">
        <div class="col">
          <fa class="angle-left" size="4x" name="angle-left"></fa>
        </div>
        <div class="col">
          <div class="angle-left-text">WIESO <br> ENORMEDIA?</div>
        </div>
      </div>
    </a>
  </div>

  <div id="wie4-angle-right-container" class="angle-right-container text-black">
    <a href="#" class="angle-right-button">
      <div class="row justify-content-end">
        <div class="col">
          <div class="angle-right-text">WAS LEISTET <br> ENORMEDIA?</div>
        </div>
        <div class="col">
          <fa class="angle-right" size="4x" name="angle-right"></fa>
        </div>
      </div>
    </a>
  </div>
  <div class="row navigation-footer container-fluid align-items-end">
  </div>
</section>

<section id="wie5" class="wie-footer">
  <app-map></app-map>
</section>