<section id="wie1" class="wie-sub-section">
  <nav id="navbarTopWie" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <fa class="sidebarCollapse" name="fas fa-bars"></fa>
      <div id="enormediaLogo"></div>
    </div>
  </nav>
  <nav class="sub-navbar">
    <a class="sub-navbar-wieso">WIESO?</a>
    <a class="sub-navbar-wie active">WIE?</a>
    <a class="sub-navbar-was">WAS?</a>
    <a class="sub-navbar-wer">WER?</a>
    <hr class="sub-navbar-divider" />
  </nav>

  <div id="wie1-mann-background"></div>
  <div class="row top-placeholder-15 d-none d-lg-block"></div>
  <div class="row top-placeholder-10 d-none d-md-block d-lg-none"></div>
  <div class="row top-placeholder-5 d-sm-none "></div>
  <div id="wie1-text" class="row justify-content-center">
    <div class="col-lg-6 col-md-10">
      <div id="wie1-question" class="row justify-content-center">
        <p class="text-question">WIE DIE ZUSAMMENARBEIT MIT EINER GUTEN MEDIAAGENTUR SEIN ?</p>
      </div>
      <hr id="wie1-divider" class="content-text-divider" />
      <div id="wie1-buzzword" class="row justify-content-center">
        <p class="text-buzzword">EINFACH.</p>
      </div>
      <div id="wie1-details" class="row justify-content-center">
        <div class="col">
          <p class="text-details">
            <font face="unit-bold">Copy über profunde Beratung.</font>
            ehrliches
            Hand-werk, Qualitäts- und Termintreue, Nachvollziehbarkeit,
            den einen Ansprechpartner
            und diffuse Algorithmen. Feinrot und
            Mafo nennen! Nitaepratur aut quat etur alit
            veleNamet aut esto bea cusdam fugit latquia
            esciisim rerunt quibus qui soloratibus cor aut
          </p>
        </div>
        <div class="col d-none d-md-block">
          <p class="text-details">ut doluptatius, tem sam antio est illenis et re
            vidissum serum idebistia con eost, idus eic
            te consed magniminimus et aut pore sequi
            consed quo bla dolupta temporio. Mincid
            ullati raturem quia andae quia venimolum aut
            quossi quam fugia plaut veles aut laboreped
            qui comnientenia sum quae pro di alitas aute </p>
        </div>
      </div>
    </div>
  </div>
  <div id="wie1-left-arrow" class="angle-left-container">
    <a class="angle-left-button">
      <div class="row">
        <div class="col">
          <fa class="angle-left" size="4x" name="angle-left"></fa>
        </div>
        <div class="col">
          <div class="angle-left-text">WIESO <br> ENORMEDIA?</div>
        </div>
      </div>
    </a>
  </div>

  <div id="wie1-angle-right-container" class="angle-right-container">
    <a class="angle-right-button">
      <div class="row justify-content-end">
        <div class="col">
          <div class="angle-right-text">WAS LEISTET <br> ENORMEDIA?</div>
        </div>
        <div class="col">
          <fa class="angle-right" size="4x" name="angle-right"></fa>
        </div>
      </div>
    </a>
  </div>
  <div id="wie1-angle-down-container" class="angle-down-container">
    <div class="row justify-content-center">
      <div id="wieso-1-angle-down-text" class="angle-down-text">KLINGT DAS NICHT EIN BISSCHEN EINFACH?</div>
    </div>
    <div class="row justify-content-center">
      <fa class="angle-down" size="4x" name="angle-down"></fa>
    </div>
  </div>
  <div class="row navigation-footer container-fluid align-items-end">
  </div>
</section>


<section id="wie2" class="wie-sub-section">
  <div class="row top-placeholder-20"></div>
  <div class="row wie2-content-wrapper">
    <div id="wie2-text-wrapper" class="col-4 mx-auto">
      <div id="wie2-placeholder" class="row to-bottom"></div>
      <div class="row justify-content-center">
        <p class="wie2-italic-header">BERATUNG, GEOMARKETING, ANALYSE, PLANUNG, EINKAUF UND CONTROLLING </p>
      </div>
      <div class="row justify-content-center">
        <p class="wie2-ultra-header">DAMIT ES FÜR SIE EINFACH WIRD, MACHEN WIR ES UNS NICHT LEICHT.</p>
      </div>
      <div class="row justify-content-center">
        <p class="wie2-text">Hier: keine nationalen Pakete – sondern über lange Jahre erworbenes Wissen über fast jede
          Ecke
          Deutschlands. Groß profitiert von Klein und umgekehrt. Blahlaberfasel. Ihiliasi omnis perum voloritae.
          Num vendelles sit estest delicienis aut quidentorest aut prem remquis acepelita co
        </p>
      </div>
    </div>
  </div>

  <div id="wie2-carousel-wrapper" class="row justify-content-center">
    <div id="wie2-carousel" class="col-4 mx-auto">
      <app-wie2-carousel></app-wie2-carousel>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mx-auto angle-down-container-black">
      <div class="row justify-content-center">
        <div id="wieso-1-angle-down-text" class="angle-right-text">FEINROT?</div>
      </div>
      <div class="row justify-content-center">
        <fa class="angle-down" size="4x" name="angle-down"></fa>
      </div>
    </div>
  </div>
</section>
<section id="wie3" class="wie-sub-section">
  <div class="row top-placeholder-20"></div>
  <div class="row">
    <div id="wie3-header-text" class="col-6 mx-auto">
      <p class="wie3-light-italic-header">EFFEKTIV KREATIV: UNSERE PARTNERAGENTUR FEINROT.</p>
      <p class="wie3-ultra-header">WENN SIE NOCH GAR NICHT<br>
        AUF DEM ZETTEL HABEN,<br>
        WAS SIE SCHALTEN SOLLEN: <br>
        FEINROT HILFT IHNEN GERNE</p>
    </div>
  </div>
  <div class="row">
    <div id="wie3-detail" class="col-4 offset-5">
      <hr class="content-text-divider-black" />
      <p class="wie3-detail-text">
        <font face="unit-bold">Wo Mediaanalyse,</font> Konzeption von Werbemedien anfängt, endet gewöhnlich der
        Einfluss von Media-Agenturen. Eine Grenzziehung, die für den Erfolg einer Medienkampagne
        nicht unbedingt von Vorteil ist. Schließlich geht eine Werbestrategie erst
        auf, wenn alle Räder im Marketing-Getriebe ineinandergreifen. Mit unserer Schwester-Agentur
        Feinrot haben wir einen starken kreativen Partner im Haus hier in Oldenburg,
        mit dem wir kommunizieren und effektiv zusammenarbeiten.
      </p>
      <hr class="content-text-divider-black" />
    </div>
  </div>
</section>
<section id="wie4" class="wie-sub-section">
  <div class="row top-placeholder-20"></div>
  <div class="row">
    <div class="col-4 mx-auto">
      <div id="wie4-text-box">
        <div class="row justify-content-center">
          <p class="wie4-light-italic-header">UNSER PARTNER FÜR MARKTFORSCHUNG:</p>
        </div>
        <div class="row justify-content-center">
          <p class="wie4-black-header">IHRE ZIELGRUPPE? DIE WERDEN SIE KENNENLERNEN.</p>
        </div>
        <div class="row justify-content-center">
          <p class="wie4-detail-text">Nitaepratur aut quat etur alit veleNamet aut esto bea cusdam fugit latquia
            esciisim rerunt quibus qui
            soloratibus cor aut ut doluptatius, tem sam antio est illenis et re vidissum serum idebistia con eost,
            idus eic te consed magniminimus et aut pore sequi consed quo bla dolupta temporio. Mincid ullati
            raturem quia andae quia venimolum aut quossi quam fugia plaut veles aut laboreped qui comnientenia
            sum quae pro di alitas aute nate posam ium rem re coratqu iatquuntus voluptis quam adictur
            eptat.Q ui dolorum quiam eossequis de voluptate sam rernati remoditio. Udi ulla con corporruntem </p>
        </div>
        <div id="regiopinion-logo" class="row justify-content-center">
        </div>
      </div>
    </div>
  </div>

</section>

<!--     <section id="wie5" class="footer">
        <agm-map [latitude]="latitude" [longitude]="longitude" >
  
          </agm-map>
          <div class="footer-navbar">
              <a href="/impressum" routerLinkActive="active">IMPRESSUM</a>
              <a href="/datenschutz" routerLinkActive="active">DATENSCHUTZ</a>
          </div>
    </section> -->