
  <div id="contact-form-modal">
    <div id="contact-form-wrapper">
      <!--         <form id="contact-form">
          <div class="form-group has-feedback">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" placeholder="Name" />
          </div>
          <div class="form-group has-feedback">
            <label class="control-label">E-Mail Adresse</label>
            <input type="text" class="form-control" placeholder="E-Mail Adresse" />
          </div>
        </form> -->
      <!-- form goes here -->
      <form >

        <!-- name -->
        <div class="field">
          <input type="text" name="name" class="input" placeholder="Ihr Name">
        </div>
      
        <!-- email -->
        <div class="field">
          <input type="email" name="email" class="input" placeholder="Ihre E-Mail Adresse">
        </div>
      
        <!-- message -->
        <div class="field">
          <textarea class="textarea" name="message" placeholder="Nachricht"></textarea>
        </div>
      
        <button type="submit" class="button is-danger is-large">Absenden</button>
      
      </form>
    </div>
  </div>


