

    <section id="was1" class="was-sub-section" >
        <nav id="navbarTopWas" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                    <fa class="sidebarCollapse" name="fas fa-bars"></fa>
                    <div id="enormediaLogo"></div> 
            </div>
        </nav>
        <nav class="sub-navbar">
            <a class="sub-navbar-wieso" >WIESO?</a>
            <a class="sub-navbar-wie ">WIE?</a>
          <a class="sub-navbar-was active" >WAS?</a>
        <a class="sub-navbar-wer" >WER?</a>
        <hr class="sub-navbar-divider"/>
      </nav>
      <div class="row top-placeholder-15 d-none d-lg-block"></div>
    <div class="row top-placeholder-10 d-none d-md-block d-lg-none"></div>
    <div class="row top-placeholder-5 d-sm-none "></div>
        <div id="was1-text" class="row justify-content-center">
            <div class="col-lg-6 mx-auto col-sm-10">
              <div id="was1-question" class="row justify-content-center">
                <p class="text-question">WAS EINE GUTE MEDIENAGENTUR LEISTEN SOLLTE?</p>
              </div>
              <hr id="was1-divider" class="content-text-divider" />
              <div id="was1-buzzword" class="row justify-content-center">
                <p class="text-buzzword">ALLES.</p>
              </div>
              <div id="was1-details" class="row justify-content-center">
                <div class="col">
                  <p class="text-details">
                    <font face="unit-bold">Oder zumindest mal das Maßgebliche –
                            und ein paar Dinge mehr.</font>
                            Denn wenn wir
                            sagen, wir wollen es unserem Kunden einfach
                            machen, dann können wir ihn ja nicht mit
                            irgendeiner Teilleistung allein lassen. Deshalb
                            bieten wir alles aus einer Hand. Von Anzeigen
                            über Verteilung, Esto bea cusdam fugit latquia
                  </p>
                </div>
                <div class="col d-none d-md-block">
                  <p class="text-details">esciisim rerunt quibus qui soloratibus cor aut
                        ut doluptatius, tem sam antio est illenis et re
                        vidissum serum idebistia con eost, idus eic
                        te consed magniminimus et aut pore sequi
                        consed quo bla dolupta temporio. Mincid
                        ullati raturem quia andae quia venimolum aut
                        quossi quam fugia plaut veles aut laboreped   </p>
                </div>
              </div>
              <hr id="was1-list-divider-top" class="was1-list-divider-top" />
              <div id="was1-list" class="row justify-content-center">
                <ul class="was1-list list-inline">
                  <li class="list-inline-item"><a id="was-list-anzeigen">ANZEIGEN</a></li>
                  <li class="list-inline-item"><a id="was-list-verteilung">VERTEILUNG</a></li>
                  <li class="list-inline-item"><a id="was-list-druck">DRUCK</a></li>
                  <li class="list-inline-item"><a id="was-list-plakate">PLAKATE</a></li>
                  <li class="list-inline-item"><a id="was-list-digital">DIGITAL</a></li>
                  <li class="list-inline-item"><a id="was-list-rundfunk">RUNDFUNK</a></li>
                </ul>
              </div>
              <hr id="was1-list-divider-bottom" class="was1-list-divider-bottom"/>
            </div>
          </div>
          <div id="was1-left-arrow" class="angle-left-container">
              <a class="angle-left-button">
                  <div class="row">
                      <div class="col">
                          <fa class="angle-left" size="4x" name="angle-left"></fa>
                        </div>
                      <div class="col">
                        <div class="angle-left-text">UND WIE <br> ARBEITET <br> ENORMEDIA?</div>
                      </div>
                    </div>
              </a>
            </div>

              <div id="was1-angle-right-container" class="angle-right-container">
                  <a class="angle-right-button">
                      <div class="row justify-content-end">
                          <div class="col">
                            <div class="angle-right-text">WER IST <br> ENORMEDIA?</div>
                          </div>
                          <div class="col">
                            <fa class="angle-right" size="4x" name="angle-right"></fa>
                          </div>
                        </div>
                  </a>
                </div>
          <div id="was1-angle-down-container" class="angle-down-container">
                  <div class="row justify-content-center">
                    <div id="was1-angle-down-text" class="angle-down-text">SO VIEL? JETZT MAL DER REIHE NACH. WIR STARTEN MIT "A" WIE "ANZEIGEN"</div>
                  </div>
                  <div class="row justify-content-center">
                    <fa class="angle-down" size="4x" name="angle-down"></fa>
                  </div>
          </div>
          <div class="row navigation-footer container-fluid align-items-end">
          </div>
    </section>
    <section id="was2" class="was-sub-section" >
        <div class="row top-placeholder-20"></div>
      <div class="row">
        <div id="was2-text-wrapper" class="col-3 offset-5">
          <div class="row">
            <p class="was-header-light-italic-black">ANZEIGENMEDIEN</p>
          </div>
          <div class="row">
              <p class="was-header-black">WENN WIR SCHNELL SCHALTEN, KÖNNEN SIE SICH EINIGES SPAREN.</p>
            </div>
            <div class="row justify-content-center">
                <p class="was-text-light-black"><font face="unit-bold">Wer liest welches Magazin und welche Zeitung? Über welchen Kanal sind potenzielle Kunden
                    zu erreichen?</font> Wir finden es blitzschnell für Sie heraus. Unser Anzeigenmanagement schafft Ihnen
                    nicht nur Klarheit darüber. Es vereinfacht auch Ihre Anzeigenschaltungen. Denn wir übernehmen
                    und überwachen für Sie Ihr gesamtes Anzeigengeschäft: Von der Medienauswahl über die
                    Erstellung der Druckvorlagen bis hin zur Platzierung und Abrechnung Ihrer Anzeigen – inklusive
                    Budget-Optimierung.
                    Damit Sie sich auf Ihre Media-Performance stets verlassen können. Sowohl inhaltlich als auch
                    technisch!
                    </p>
              </div>
        </div>
      </div>
      <div class="row">
          <div id="was2-skills-wrapper" class="col-3 offset-5">
              <ul class="skill-list">
                <li><p class="was2-skill-list"><span class="skill-list-icon">
                  <fa class="chart-line " size="2x" name="chart-line "></fa></span>STRATEGISCHE MEDIA-AUSWAHL</p>                 
                </li>
                <li> 
                  <p class="was2-skill-list">
                    <span class="skill-list-icon"><fa class="project-diagram" size="2x" name="project-diagram"></fa></span>ZIELSICHERE PLATZIERUNG
                  </p>                 
                </li>
                <li>
                  <p class="was2-skill-list"><span class="skill-list-icon"><fa class="calendar-check" size="2x" name="calendar-check"></fa></span>BUCHUNG UND ABRECHNUNG</p>                
                </li>
                <li>  
                  <p class="was2-skill-list"><span class="skill-list-icon"><fa class="file-invoice" size="2x" name="file-invoice"></fa></span>DRUCKVORLAGEN-ERSTELLUNG</p>               
                </li>
                <li>  
                  <p class="was2-skill-list"><span class="skill-list-icon"><fa class="money-bill-wave" size="2x" name="money-bill-wave"></fa></span>KOSTEN-OPTIMIERUNG</p>               
                </li>
              </ul>
          </div>
      </div>

    </section>
    <section id="was3" class="was-sub-section" >
        <div class="row top-placeholder-20"></div>
        <div class="row">
            <div id="was2-text-wrapper" class="col-3 offset-3">
              <div class="row">
                <p class="was-header-light-italic-white">ANZEIGENMEDIEN</p>
              </div>
              <div class="row">
                  <p class="was-header-white">WENN WIR SCHNELL SCHALTEN, KÖNNEN SIE SICH EINIGES SPAREN.</p>
                </div>
                <div class="row justify-content-center">
                    <p class="was-text-light-white"><font face="unit-bold">Haushaltsverteilungen und Mailings</font> erreichen schnell eine beträchtliche Anzahl an Haushalten.
                        Aber damit die Rücklaufquote der Haushaltswerbung Sie auch zufriedenstellt, ist im Vorfeld der
                        Adressat der Werbemaßnahme im Fokus und strategisch auszuwählen.
                        </p>
                        <br>
                        <p class="was-text-light-white">Mittels soziografischer Daten grenzen wir von Enormedia für Sie den Empfängerkreis ein – passend
                            zugeschnitten auf Ihre Zielgruppe. Hierzu filtern wir die Verteilgebiete nach einer Vielzahl
                            statistischer Größen, wie zum Beispiel Geschlecht, Alter, Bildungsstand, Einkommen und
                            Kaufkraft.
                            </p>
                  </div>
            </div>
          </div>
          <div class="row">
              <div id="was2-skills-wrapper" class="col-3 offset-3">
                <div class="row">
                  <div class="col-12">
                  <p class="skill-header-italic-white text-right">UNSERE LEISTUNGEN</p>
                </div>
                </div>
                  <ul class="skill-list">
                    <li><p class="was-skill-list-white"><span class="skill-list-icon">
                      <fa class="chart-line " size="2x" name="chart-line "></fa></span>PROSPEKTE/KATALOGE</p>                 
                    </li>
                    <li> 
                      <p class="was-skill-list-white">
                        <span class="skill-list-icon"><fa class="project-diagram" size="2x" name="project-diagram"></fa></span>BEILAGEN
                      </p>                 
                    </li>
                    <li>
                      <p class="was-skill-list-white"><span class="skill-list-icon"><fa class="calendar-check" size="2x" name="calendar-check"></fa></span>FLYERVERTEILUNG</p>                
                    </li>
                    <li>  
                      <p class="was-skill-list-white"><span class="skill-list-icon"><fa class="file-invoice" size="2x" name="file-invoice"></fa></span>MAILINGS</p>               
                    </li>
                  </ul>
              </div>
          </div>
    </section>
    <section id="was4" class="was-sub-section" >
        <div class="row top-placeholder-20"></div>
        <div class="row">
            <div id="was2-text-wrapper" class="col-4 offset-4">
              <div class="row">
                <p class="was-header-light-italic-black">DRUCK UND VERARBEITUNG</p>
              </div>
              <div class="row">
                  <p class="was-header-black">IN DRUCKSITUATIONEN LAUFEN WIR ZUR HÖCHSTFORM AUF.</p>
                </div>
                <div class="row justify-content-center">
                    <p class="was-text-light-black"><font face="unit-bold">Ob Broschüre, Flyer, Plakat oder Zeitung:</font> Für Ihre Printwerbung finden wir nicht nur das
                      effizienteste Verfahren. Wir spüren auch die optimale Druckerei für Sie auf – mit der
                      günstigsten Lage und der passenden technischen Ausstattung.
                        </p>
                        <br>
                        <p class="was-text-light-black">Auf diese Weise minimieren wir Druck- und Logistikkosten und bieten Ihnen besonders wettbewerbsfähige
                            Tarife. Zusätzlich profitieren Sie von unseren Druckkontingenten, die wir uns
                            jährlich marktgünstig sichern. Mit diesen und unserem europaweiten Netz mit über 700 Druckereien
                            sind wir in der Lage, selbst kurzfristige Aufträge preiswert zu realisieren.
                            </p>
                  </div>
            </div>
          </div>
          <div class="row">
              <div id="was2-skills-wrapper" class="col-4 offset-4">
                <div class="row">
                  <div class="col-12">
                  <p class="skill-header-italic-black text-right">UNSERE LEISTUNGEN</p>
                </div>
                </div>
                  <ul class="skill-list">
                    <li><p class="was-skill-list-black"><span class="skill-list-icon">
                      <fa class="chart-line " size="2x" name="chart-line "></fa></span>OFFSET-DRUCK</p>                 
                    </li>
                    <li> 
                      <p class="was-skill-list-black">
                        <span class="skill-list-icon"><fa class="project-diagram" size="2x" name="project-diagram"></fa></span>DIGITALDRUCK
                      </p>                 
                    </li>
                    <li>
                      <p class="was-skill-list-black"><span class="skill-list-icon"><fa class="calendar-check" size="2x" name="calendar-check"></fa></span>HOCHDRUCK</p>                
                    </li>
                    <li>  
                      <p class="was-skill-list-black"><span class="skill-list-icon"><fa class="file-invoice" size="2x" name="file-invoice"></fa></span>TIEFDRUCK</p>               
                    </li>
                    <li>  
                        <p class="was-skill-list-black"><span class="skill-list-icon"><fa class="file-invoice" size="2x" name="file-invoice"></fa></span>SIEBDRUCK</p>               
                      </li>
                  </ul>
              </div>
          </div>

    </section>
    <section id="was5" class="was-sub-section" >
        <div class="row top-placeholder-20"></div>
        <div class="row">
            <div id="was2-text-wrapper" class="col-3 offset-5">
              <div class="row">
                <p class="was-header-light-italic-white">PLAKATE</p>
              </div>
              <div class="row">
                  <p class="was-header-white">PLAKATIV GESAGT EXISTIERT BEI UNS KEIN SCHEMA F.</p>
                </div>
                <div class="row justify-content-center">
                    <p class="was-text-light-white"><font face="unit-bold">Das Plakat zählt auch im Zeitalter des Internets</font>  unverändert zu den erfolgreichsten
                      Werbemedien der Media-Branche – vorausgesetzt: Es wird strategisch-individuell
                      eingesetzt.
                        </p>
                        <br>
                        <p class="was-text-light-white">Aus diesem Grund verzichten wir von enorMedia bereits seit Jahren auf starre
                            Belegungspläne und wählen Plakatstellen nach Zielgruppe, beworbenem Produkt
                            und Botschaft aus. Auf diese Weise erzielen wir mit minimalen Auflagen maximale
                            Aufmerksamkeit, ob Litfaß-, Citylight-, Großflächen- oder Tafelplakatierung. Alles ist
                            erlaubt!
                            </p>
                  </div>
            </div>
          </div>
          <div class="row">
              <div id="was2-skills-wrapper" class="col-3 offset-5">
                <div class="row">
                  <div class="col-12">
                  <p class="skill-header-italic-white text-right">UNSERE LEISTUNGEN</p>
                </div>
                </div>
                  <ul class="skill-list">
                    <li><p class="was-skill-list-white"><span class="skill-list-icon">
                      <fa class="chart-line " size="2x" name="chart-line "></fa></span>LITFASS-SÄULEN</p>                 
                    </li>
                    <li> 
                      <p class="was-skill-list-white">
                        <span class="skill-list-icon"><fa class="project-diagram" size="2x" name="project-diagram"></fa></span>CITYLIGHTS
                      </p>                 
                    </li>
                    <li>
                      <p class="was-skill-list-white"><span class="skill-list-icon"><fa class="calendar-check" size="2x" name="calendar-check"></fa></span>GROSSFLÄCHEN</p>                
                    </li>
                    <li>  
                      <p class="was-skill-list-white"><span class="skill-list-icon"><fa class="file-invoice" size="2x" name="file-invoice"></fa></span>TAFELN/BAUZÄUNE</p>               
                    </li>
                    <li>  
                        <p class="was-skill-list-white"><span class="skill-list-icon"><fa class="file-invoice" size="2x" name="file-invoice"></fa></span>WECHSELRAHMEN (MOSKITOS)</p>               
                      </li>
                  </ul>
              </div>
          </div>

    </section>
    <section id="was6" class="was-sub-section" >
        <div class="row top-placeholder-20"></div>
        <div class="row">
            <div id="was2-text-wrapper" class="col-4 offset-5">
              <div class="row">
                <p class="was-header-light-italic-black">DIGITAL</p>
              </div>
              <div class="row">
                  <p class="was-header-black">WIR BRINGEN SIE IN DEN ONLINE-CHARTS GANZ NACH OBEN.</p>
                </div>
                <div class="row justify-content-center">
                    <p class="was-text-light-black"><font face="unit-bold">Suchmaschinen-Marketing (SEM)</font> ) ist heute ausschlaggebend für den Erfolg eines
                      Web-Projekts. Und es hat leider auch seine technischen und rechtlichen Fallstricke.
                        </p>
                        <br>
                        <p class="was-text-light-black">Wir beraten Sie und bieten Lösungen in allen Fragen rund um Ihr Online-Geschäft.
                            Damit Sie Ihre Ziele erreichen, analysieren wir Ihre Website und entwickeln für Sie
                            individuelle Optimierungsstrategien und Online-Kampagnen. Über die Stellschrauben
                            Suchmaschinen-Optimierung (SEO) und Social Media erhöhen wir dabei die Posirtion
                            bei Google & Co. Und damit Reichweite, Besucher- und Umsatzzahlen Ihrer Website.
                            </p>
                  </div>
            </div>
          </div>
          <div class="row">
              <div id="was2-skills-wrapper" class="col-4 offset-5">
                <div class="row">
                  <div class="col-12">
                  <p class="skill-header-italic-black text-right">UNSERE LEISTUNGEN</p>
                </div>
                </div>
                  <ul class="skill-list">
                    <li><p class="was-skill-list-black"><span class="skill-list-icon">
                      <fa class="chart-line " size="2x" name="chart-line "></fa></span>SUCHMASCHINEN-MARKETING (SEM)</p>                 
                    </li>
                    <li> 
                      <p class="was-skill-list-black">
                        <span class="skill-list-icon"><fa class="project-diagram" size="2x" name="project-diagram"></fa></span>SUCHMASCHINEN-OPTIMIERUNG (SEO)
                      </p>                 
                    </li>
                    <li>
                      <p class="was-skill-list-black"><span class="skill-list-icon"><fa class="calendar-check" size="2x" name="calendar-check"></fa></span>ONLINE-KAMPAGNEN</p>                
                    </li>
                    <li>  
                      <p class="was-skill-list-black"><span class="skill-list-icon"><fa class="file-invoice" size="2x" name="file-invoice"></fa></span>INTERNET-RECHTSBERATUNG</p>               
                    </li>
                  </ul>
              </div>
          </div>

    </section>
    <section id="was7" class="was-sub-section" >
        <div class="row top-placeholder-20"></div>
        <div class="row">
            <div id="was2-text-wrapper" class="col-3 offset-3">
              <div class="row">
                <p class="was-header-light-italic-white">FUNK & FERNSEHEN</p>
              </div>
              <div class="row">
                  <p class="was-header-white">AUF EINER WELLENLÄNGE MIT IHREN KUNDEN.</p>
                </div>
                <div class="row justify-content-center">
                    <p class="was-text-light-white"><font face="unit-bold">Fernsehwerbung und Radiowerbung </font> erzielen große Reichweiten – mit verhältnismäßig wenig
                      Aufwand. Noch dazu bietet die Vielfalt an Sendern eine einmalige Option: Sie können Werbe-Botschaften
                      gezielt nach Ausrichtung und Sendung platzieren. Auf diese Weise minimieren
                      Sie Streuverluste.
                        </p>
                        <br>
                        <p class="was-text-light-white">In Zusammenarbeit mit unseren Media-Partnern finden wir von enorMedia für Sie die besten
                            Sendeplätze, lokal und bundesweit. Damit können Sie direkt Ihre Zielgruppe erreichen. Für ein
                            schlüssiges Gesamtkonzept lassen wir vereint für Sie unsere Erfahrung in die Gestaltung und Produktion
                            Ihres Werbe-Spots einfließen.
                            </p>
                  </div>
            </div>
          </div>
          <div class="row">
              <div id="was2-skills-wrapper" class="col-3 offset-3">
                <div class="row">
                  <div class="col-12">
                  <p class="skill-header-italic-white text-right">UNSERE LEISTUNGEN</p>
                </div>
                </div>
                  <ul class="skill-list">
                    <li><p class="was-skill-list-white"><span class="skill-list-icon">
                      <fa class="chart-line " size="2x" name="chart-line "></fa></span>RADIOWERBUNG</p>                 
                    </li>
                    <li> 
                      <p class="was-skill-list-white">
                        <span class="skill-list-icon"><fa class="project-diagram" size="2x" name="project-diagram"></fa></span>FERNSEHWERBUNG
                      </p>                 
                    </li>
                  </ul>
              </div>
          </div>

    </section>
<!--     <section id="was8" class="was-sub-section footer">
        <agm-map [latitude]="latitude" [longitude]="longitude" >
  
          </agm-map>
          <div class="footer-navbar">
              <a href="./impressum" routerLinkActive="active">IMPRESSUM</a>
              <a href="./datenschutz" routerLinkActive="active">DATENSCHUTZ</a>
          </div>
    </section> -->