   
    <section id="wer1" class="wer-sub-section" >
        <nav class="sub-navbar">
            <a href="#" class="sub-navbar-wieso" >WIESO?</a>
            <a href="#" class="sub-navbar-wie ">WIE?</a>
          <a href="#" class="sub-navbar-was" >WAS?</a>
        <a href="#" class="sub-navbar-wer active" >WER?</a>
        <hr class="sub-navbar-divider"/>
      </nav>
<!--       <div class="row top-placeholder-15 d-none d-lg-block"></div>
    <div class="row top-placeholder-10 d-none d-md-block d-lg-none"></div> -->
    <div class="row top-placeholder-30 d-block d-lg-none"></div>
    <div class="row top-placeholder-20 d-none d-lg-block "></div>
    <div id="wer1-team-background-sm" class="d-block d-lg-none"></div>
    <div id="wer1-team-background" class="d-none d-lg-block"></div>   
        <div id="wer1-text" class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-10">
              <div id="wer1-question" class="row justify-content-center">
                <p class="text-question">WANN MAN SICH AUF EINE GUTE MEDIAAGENTUR VERLASSEN KANN?</p>
              </div>
              <hr  id="wer1-divider" class="content-text-divider question-divider" />
              <div id="wer1-buzzword" class="row justify-content-center">
                <p class="text-buzzword">JEDERZEIT.</p>
              </div>
              <div id="wer1-details" class="row justify-content-center">
                <div class="col">
                  <p class="text-details">
                    <font face="unit-bold">Mediaberatung und -buchung ist Kopfarbeit. </font>
                     Deshalb wollen wir hier die maßgeblichen
                     Köpfe bei Enormedia kurz vorstellen. Jedes Kundenprojekt wird bei Enormedia in allen 
                     Schritten von einem festen Ansprechpartner begleitet. Er hält stets die Fäden in der Hand –
                      und Sie auf dem Laufenden. So bleibt keine Frage offen und Ihr Etat in den besten Händen. 
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="wer1-left-arrow" class="angle-left-container">
              <a href="#"class="angle-left-button">
                  <div class="row">
                      <div class="col">
                          <fa class="angle-left" size="4x" name="angle-left"></fa>
                        </div>
                      <div class="col">
                        <div class="angle-left-text">WAS LEISTET <br> ENORMEDIA?</div>
                      </div>
                    </div>
              </a>
            </div>
          <a href="#"><div id="wer1-angle-down-container" class="angle-down-container">
                  <div class="row justify-content-center">
                    <div id="wieso-1-angle-down-text" class="angle-down-text">KURZ ZU DEN KÖPFEN:</div>
                  </div>
                  <div class="row justify-content-center">
                    <fa class="angle-down" size="4x" name="angle-down"></fa>
                  </div>
                </div>
                </a>
          <div class="row navigation-footer container-fluid align-items-end">
          </div>
    </section>
    <section id="wer2" class="wer-sub-section" >
        <div class="row top-placeholder-10 d-none d-md-block"></div>
        <div class="row top-placeholder-20 d-block d-md-none"></div>
      <div class="row justify-content-center">
        <div id="wer2-mitarbeiter-wrapper" class="col-12">

            <div class="row justify-content-center">
                <div class="col-1 wer2-carousel-left-arrow">
                  </div>
              <div id="wer2-carousel-wrapper"class="col-8 col-md-8 col-lg-6">
                <app-wer2-carousel></app-wer2-carousel>
              </div>
              <div class="col-1 wer2-carousel-right-arrow">
                </div> 
            </div>  
          
        </div>
      </div>
      <div id="wer2-left-arrow" class="angle-left-container text-black">
        <a href="#" class="angle-left-button">
            <div class="row">
                <div class="col">
                    <fa class="angle-left" size="4x" name="angle-left"></fa>
                  </div>
                <div class="col">
                  <div class="angle-left-text">WAS LEISTET <br> ENORMEDIA?</div>
                </div>
              </div>
        </a>
      </div>

    <a href="#"><div id="wer2-angle-down-container" class="angle-down-container text-black">
            <div class="row justify-content-center">
              <div id="wer2-angle-down-text" class="angle-down-text">JOBS</div>
            </div>
            <div class="row justify-content-center">
              <fa class="angle-down" size="4x" name="angle-down"></fa>
            </div>
    </div>
    </a>
    <div class="row navigation-footer container-fluid align-items-end">
    </div>
    </section>
    <section id="wer3" class="wer-sub-section" >
        <div class="row top-placeholder-20 d-none d-md-block"></div>
        <div class="row top-placeholder-15 d-block d-md-none"></div>
        <div class="row justify-content-center my-auto">
            <div class="col-10 col-md-8 col-lg-5">
              <div class="row justify-content-center">
                <p class="jobs-header-text"> SIE KÖNNEN MIT UNS ETWAS ANFANGEN? DANN FANGEN SIE DOCH BEI UNS AN.</p>
              </div>
              <div class="row justify-content-center">
                  <p class="jobs-search-text">WIR SUCHEN:</p>
              </div>
              <hr class="job-divider-top" />
              <div class="row justify-content-center">
                  <p class="jobs-job-text">MEDIA-PLANER / EINKÄUFER (M/W).</p>
              </div>
              <hr class="job-divider-bottom" />
              <div class="row">
                
                <p class="jobs-details-text"><font face="unit-bold">Bei enorMedia arbeiten Sie ganz nah am Medium.</font> Sie optimieren, verhandeln und planen aufgrund
                    der Ihnen zur Verfügung stehenden Etats die Digital- und Printmedien unserer Kunden. Sie
                    besitzen ein ausgeprägtes Gespür für die Optimierung bestehender Mediapläne und arbeiten kundenorientiert.<br><br>
                    Da sich unsere besondere Arbeitshaltung und Philosophie nicht nur in Norddeutschland sondern
                    zunehmend in ganz Deutschland herumspricht, benötigen wir fortwährend Verstärkung in unserer
                    Full-Service-Agentur.<br><br>
                    Senden Sie uns Ihre aussagekräftige Bewerbung bevorzugt per E-Mail an folgende Adresse:
                    <font face="unit-bold"><a href="mailto:jobs@enormedia.de"><u>jobs@enormedia.de</u></a></font></p>
              </div>
            </div>
        </div>
        <div id="wer3-left-arrow" class="angle-left-container text-black">
          <a href="#" class="angle-left-button">
              <div class="row">
                  <div class="col">
                      <fa class="angle-left" size="4x" name="angle-left"></fa>
                    </div>
                  <div class="col">
                    <div class="angle-left-text">WAS LEISTET <br> ENORMEDIA?</div>
                  </div>
                </div>
          </a>
        </div>
      <div class="row navigation-footer container-fluid align-items-end">
      </div>
      </section>

    <section id="wer4" class="wer-footer">
        <app-map></app-map>
  </section>
