   
    <section id="wer1" class="wer-sub-section" >
        <nav id="navbarTopWer" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                    <fa class="sidebarCollapse" name="fas fa-bars"></fa>
                    <div id="enormediaLogo"></div> 
            </div>
        </nav>
        <nav class="sub-navbar">
            <a class="sub-navbar-wieso" >WIESO?</a>
            <a class="sub-navbar-wie ">WIE?</a>
          <a class="sub-navbar-was" >WAS?</a>
        <a class="sub-navbar-wer active" >WER?</a>
        <hr class="sub-navbar-divider"/>
      </nav>
      <div class="row top-placeholder-15 d-none d-lg-block"></div>
    <div class="row top-placeholder-10 d-none d-md-block d-lg-none"></div>
    <div class="row top-placeholder-5 d-sm-none "></div>
        <div id="wer1-text" class="row justify-content-center">
            <div class="col-lg-6 mx-auto col-sm-10 col-xs-10">
              <div id="wer1-question" class="row justify-content-center">
                <p class="text-question">WANN MAN SICH AUF EINE GUTE MEDIAAGENTUR VERLASSEN KANN?</p>
              </div>
              <hr  id="wer1-divider" class="content-text-divider question-divider" />
              <div id="wer1-buzzword" class="row justify-content-center">
                <p class="text-buzzword">JEDERZEIT.</p>
              </div>
              <div id="wer1-details" class="row justify-content-center">
                <div class="col">
                  <p class="text-details">
                    <font face="unit-bold">Ein paar warme Worte übers Team. </font>
                    ehrliches
                    Hand-werk, Qualitäts- und Termintreue, Nachvollziehbarkeit,
                    den einen Ansprechpartner
                    und diffuse Algorithmen. Nitaepratur aut
                  </p>
                </div>
                <div class="col d-none d-md-block">
                  <p class="text-details">quat etur alit veleNamet aut esto bea cusdam
                      fugit latquia esciisim rerunt quibus qui soloratibus
                      cor aut ut doluptatius, tem sam antio
                      est illenis et re vidissum serum idebistia con    </p>
                </div>
              </div>
            </div>
          </div>
          <div id="wer1-left-arrow" class="angle-left-container">
              <a class="angle-left-button">
                  <div class="row">
                      <div class="col">
                          <fa class="angle-left" size="4x" name="angle-left"></fa>
                        </div>
                      <div class="col">
                        <div class="angle-left-text">WAS LEISTET <br> ENORMEDIA?</div>
                      </div>
                    </div>
              </a>
            </div>
          <div id="wer1-angle-down-container" class="angle-down-container">
                  <div class="row justify-content-center">
                    <div id="wieso-1-angle-down-text" class="angle-down-text">UND WER GENAU IST ENORMEDIA?</div>
                  </div>
                  <div class="row justify-content-center">
                    <fa class="angle-down" size="4x" name="angle-down"></fa>
                  </div>
          </div>
          <div class="row navigation-footer container-fluid align-items-end">
          </div>
    </section>
    <section id="wer2" class="wer-sub-section" >
      <div class="row top-placeholder-20"></div>
      <div class="row justify-content-center">
        <div id="wer2-mitarbeiter-wrapper" class="col-12 ">
            <div class="row">
              <div id="wer2-carousel-wrapper"class="col-6 offset-3">
                <app-wer2-carousel></app-wer2-carousel>
              </div>
            </div>             
        </div>
      </div>
    </section>
    <section id="wer3" class="wer-sub-section" >
        <div class="row top-placeholder-20"></div>
        <div class="row justify-content-center my-auto">
            <div class="col-5 mx-auto">
              <div class="row justify-content-center">
                <p class="jobs-header-text"> SIE KÖNNEN MIT UNS ETWAS ANFANGEN? DANN FANGEN SIE DOCH BEI UNS AN.</p>
              </div>
              <div class="row justify-content-center">
                  <p class="jobs-search-text">WIR SUCHEN:</p>
              </div>
              <hr class="job-divider-top" />
              <div class="row justify-content-center">
                  <p class="jobs-job-text">MEDIA-PLANER / EINKÄUFER (M/W).</p>
              </div>
              <hr class="job-divider-bottom" />
              <div class="row">
                
                <p class="jobs-details-text"><font face="unit-bold">Bei enorMedia arbeiten Sie ganz nah am Medium.</font> Sie optimieren, verhandeln und planen aufgrund
                    der Ihnen zur Verfügung stehenden Etats die Digital- und Printmedien unserer Kunden. Sie
                    besitzen ein ausgeprägtes Gespür für die Optimierung bestehender Mediapläne und arbeiten kundenorientiert.<br><br>
                    Da sich unsere besondere Arbeitshaltung und Philosophie nicht nur in Norddeutschland sondern
                    zunehmend in ganz Deutschland herumspricht, benötigen wir fortwährend Verstärkung in unserer
                    Full-Service-Agentur.<br><br>
                    Senden Sie uns Ihre aussagekräftige Bewerbung bevorzugt per E-Mail an folgende Adresse:
                    <font face="unit-bold"><a href="mailto:jobs@enormedia.de">jobs@enormedia.de</a></font></p>
              </div>
            </div>
        </div>
      </section>
    <section id="wer4" class="footer">
      <agm-map [latitude]="latitude" [longitude]="longitude" >
          <div class="row justify-content-center">
            <p class="map-header-text">WIR MÖCHTEN, DASS SIE UNS GUT FINDEN. UND ZWAR HIER:</p>
          </div>
          <div class="row">
            <div class="col-2 offset-6" >
              <p class="map-address-text">  enorMedia GmbH & Co. KG <br>
                Schloßplatz 11 <br>
                26122 Oldenburg <br><br>
                Tel.: 0441 - 800 885 - 0 <br>
                Fax.: 0441 - 800 885 - 28 <br><br>
                <span>HIER GEHT’S ZUM KONTAKTFORMULAR</span></p>
            </div>
          </div>
        </agm-map>
        <div class="footer-navbar">
            <a href="./impressum" routerLinkActive="active">IMPRESSUM</a>
            <a href="./datenschutz" routerLinkActive="active">DATENSCHUTZ</a>
        </div>
  </section>
