 <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3 class=sidebar-header-label>Menü</h3>
    </div>
    <hr/>
    <ul class="list-unstyled components">
      <p>WIESO ENORMEDIA?</p>
      <li>
        <a href="#">ZAHLEN</a>
      </li>
      <li>
        <a href="#">KUNDEN</a>
    </li>
    </ul>
    <hr/>
    <ul class="list-unstyled components">
        <p>WIE ARBEITET ENORMEDIA?</p>
        <li>
          <a href="#">PROZESS</a>
        </li>
        <li>
          <a href="#">FEINROT</a>
      </li>
      <li>
        <a href="#">REGIOPINION</a>
      </li>
      </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <nav id="navbarTop" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                    <fa id="sidebarCollapse" name="fas fa-bars"></fa>
                    <img src="../assets/img/enormedia.png" id="enormediaLogo"> 
            </div>
        </nav>
        <nav class="sub-navbar">
              <a href="#">WIESO?</a>
              <a href="#">WIE?</a>
            <a href="#">WAS?</a>
          <a href="#">WER?</a>
          <hr class="sub-navbar-divider"/>
        </nav>
        <div id="sectionContent">
            <router-outlet></router-outlet>
        </div>
        <div style="height: 300px;"
     leaflet 
     [leafletOptions]="options">
</div>
    </div>
</div>  

