<div class="row">
    <div class="col-1">
        <div id="wer2-carousel-left-arrow"></div>
    </div>

    <div class="col-10">
        <div id="wer2-carousel-wrapper">
        <div class="row justify-content-center"><p  class="mitarbeiter-header-text">ENORMEDIA PERSÖNLICH: UNSER MITARBEITER.</p></div>       
            <div class="wer2-carousel">
                <div >
                  <div class="row align-items-center">
                  <div id="item-mitarbeiter-kolja" class="col-10 offset-1">
                  <div class="row">
                    <div class="col-3 offset-8 mitarbeiter-details">
                      <div class="row">
                        <p class="mitarbeiter-abteilung-text">VERTEILUNG & ANZEIGEN</p>
                        
                      </div>
                      <div class="row">
                          <p class="mitarbeiter-name-text" >KOLJA GREEN</p>
                      </div>
                      <div class="row">
                          <p class="mitarbeiter-kontakt-text">T: 0441/800 885 - 13 <br>
                          F: 0441/800 885 - 28 <br>
                          kolja.green@enormedia.de  </p>                
                      </div>
                    </div>
                  </div>
              </div>
                  </div>
                </div>
                <div>your content</div>
                <div>your content</div>
            </div>
        </div>
    </div>
    <div class="col-1">
        <div id="wer2-carousel-right-arrow"></div>
    </div>
    
</div>


