#wie2-carousel-wrapper {
    margin-top: 1em;

}

.carousel-header-text{
    color: red;
    font-size: 1.1em;
    font-family: unit-black;
}
.carousel-header-icon{
    color:black;
}

.carousel-detail-text{
    color: black;
    font-size: 0.9em;
    font-family: unit-black;
    line-height: 1em;
    line-height: 1.6em;
}

.carousel-item{
    margin: 1em;
}