<div class="row">
    <div class="col-12" id="wie2-carousel-wrapper">
        <div class="wie2-carousel">
            <div class="wie2-carousel-item">
                <div class="row carousel-header">
                    <div class="col-2 offset-4 col-md-2 offset-md-6">
                        <img class="beratung-icon carousel-icon">
                    </div>
                    <div class="col-6 col-md-3">
                        <p class="carousel-header-text"> <span class="carousel-header-icon">
                            </span> BERATUNG</p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-10 mx-auto">
                        <p class="carousel-detail-text">Eine gute Kommunikation mit unseren Kunden ist
                            die für uns die Grundvoraussetzung für eine gute Mediakommunikation nach außen.
                            Denn nur, wer zuhört und versteht, ist schließlich in der Lage, in er folgenden
                            Analyse an den richtigen Punkten anzusetzen und so die Grundlage für wirklich
                            individuelle und effiziente Kampagnen zu schaffen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="wie2-carousel-item">
                <div class="row carousel-header">
                        <div class="col-2 offset-4 col-md-2 offset-md-6">
                                <img class="analyse-icon carousel-icon">
                            </div>
                            <div class="col-6 col-md-3">
                                <p class="carousel-header-text"> <span class="carousel-header-icon">
                                    </span> ANALYSE</p>
                            </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-10 mx-auto">
                        <p class="carousel-detail-text">Vor jeder Media-Planung steht bei uns die Media-Analyse.
                            Unter Berücksichtigung neuester Marktdaten unseres Netzwerkpartners Umfrageheld
                            und anderer Marktforschungsinstitute werfen wir einen ganz genauen Blick auf
                            Ihre Kampagne. Hier zeigt sich, wo wir Reichweiten optimieren und Streuverluste
                            effizient vermeiden können. Und das heißt: die richtige Botschaft im richtigen Medium
                            am richtigen Ort – oder einfacher: optimaler Impact.
                        </p>
                    </div>
                </div>
            </div>
            <div class="wie2-carousel-item">
                <div class="row carousel-header">
                        <div class="col-2 offset-4 col-md-2 offset-md-6">
                                <img class="planung-icon carousel-icon">
                            </div>
                            <div class="col-6 col-md-3">
                                <p class="carousel-header-text"> <span class="carousel-header-icon">      
                                    </span> PLANUNG</p>
                            </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-10 mx-auto">
                        <p class="carousel-detail-text">Wenn die Hausaufgaben aus Beratung und Analyse gemacht sind,
                            geht es an die Umsetzung – und dabei braucht es vor allem eines: einen Plan.
                            Denn mit dem richtigen Plan und dem passenden Mediamix ist eine maßgeschneiderte
                            Lösung in der Regel sogar günstiger als ein Allerweltspaket. So realisieren wir
                            für unsere Kunden zum Beispiel durch frühzeitige Buchung und beste Verlagsbeziehungen
                            Top-Platzierungen zu äußerst günstigen Preisen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="wie2-carousel-item">
                <div class="row carousel-header">
                        <div class="col-2 offset-4 col-md-2 offset-md-6">
                                <img class="einkauf-icon carousel-icon">
                            </div>
                            <div class="col-6 col-md-3">
                                <p class="carousel-header-text"> <span class="carousel-header-icon">
        
                                    </span> EINKAUF</p>
                            </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-10 mx-auto">
                        <p class="carousel-detail-text">Manche zahlen für einen vermeintlich billigen Einkauf jeden
                            Preis.
                            Wir planen und verhandeln mit unseren langjährigen Media-Partnern und natürlich auch neuen
                            Anbietern hochflexibel, fair und nachhaltig. Und kommen so zu Konditionen, von denen alle
                            Seiten profitieren. Wir bündeln zum Beispiel Produktionen, recherchieren alternative
                            Logistikwege und Druckmaschinenauslastungen und minimieren die Kosten. So bleibt
                            Ihr Kampagnen-Rollout absolut kosteneffizient.
                        </p>
                    </div>
                </div>
            </div>
            <div class="wie2-carousel-item">
                <div class="row carousel-header">
                        <div class="col-2 offset-4 col-md-2 offset-md-6">
                                <img class="controlling-icon carousel-icon">
                            </div>
                            <div class="col-6 col-md-3">
                                <p class="carousel-header-text"> <span class="carousel-header-icon">
                                    </span> CONTROLLING</p>
                            </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-10 mx-auto">
                        <p class="carousel-detail-text">Im Mediageschäft ist Kontrollsucht ein willkommener
                            Charakterzug.
                            Denn wenn es um den Erfolg einer Kampagne geht, drehen wir gerne jeden Stein um – gerade,
                            wenn alle Maßnahmen schließlich umgesetzt sind. Nur durch eine akribische
                            Qualitätskontrolle
                            und Auswertung schaffen wir die Grundvoraussetzung für unsere weitere Arbeit: noch mehr
                            Erfahrung. Klar strukturierte Reportings geben unseren Kunden dabei einen Überblick über
                            alle Aspekte des Roll-Outs von der Media-Auswertung über die Erfolgskontrolle bis zur
                            Budgeteffizienz.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>