<div id="wie2-carousel-wrapper">
    <div class="wie2-carousel">
        <div >
          <div class="row carousel-header">
            <div class="col-3 offset-9">
                <p class="carousel-header-text"> <span class="carousel-header-icon"><fa class="search" size="2x" name="search"></fa></span> ANALYSE</p>
            </div>
          </div>
    
          <div class="row align-items-center">
          <div class="col-10 offset-1">
    <p class="carousel-detail-text">Vor jeder Media-Planung steht bei uns unter Berücksichtigung der neuesten Marktund
        Media-Analysen von Deutschlands führenden Markforschungsinstituten die
        genaue Media-Analyse Ihrer Unternehmung. So zeigt sich, wo Sie Ihre Performance
        optimieren können, mit weniger Aufwand die Reichweite Ihrer Medienkommunikation
        erhöhen. Die gewonnenen Erkenntnisse konzentrieren wir in eine zielgerichtete,
        individuelle Media-Planung, die nachweislich zu erstaunlich positiven Reaktionen
        führt.</p>
      </div>
          </div>
        </div>
        <div>your content</div>
        <div>your content</div>
    </div>
</div>
