/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/fullpage.js/dist/fullpage.css";
@font-face {
    font-family: 'unit-black';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/font/Unit-Black.otf') format('opentype');
}

@font-face {
    font-family: 'unit-bold';
    src: url('./assets/font/Unit-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'unit-light';
    src: url('./assets/font/Unit-Light.otf') format('opentype');
}

@font-face {
    font-family: 'unit-light-italic';
    src: url('./assets/font/Unit-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'unit-ultra';
    src: url('./assets/font/Unit-Ultra.otf') format('opentype');
}

body {
    font-family: 'unit-black';
    background: white;
}

p {
    font-family: 'unit-black';
    font-weight: 300;
    line-height: 1.2em;
    color: #999;
}

h3 {
    font-family: 'unit-bold';
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'unit-light';
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: 'unit-light';
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: 'unit-light';
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: 'unit-light';
  }

  .text-light { 
    font-family: 'unit-light';
  }

  .text-red { 
    color: red !important;
  }

  form .required::after {

    color: #db0142;
    content: "*";
    display: block;
    height: 5px;
    left: 5px;
    position: absolute;
    top: 3px;
    width: 5px;

}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.top-placeholder-50 {
    height: 50vh;
}

.top-placeholder-45 {
    height: 45vh;
}

.top-placeholder-40 {
    height: 40vh;
}

.top-placeholder-35 {
    height: 35vh;
}

.top-placeholder-30 {
    height: 30vh;
}

.top-placeholder-25 {
    height: 25vh;
}

.top-placeholder-20 {
    height: 20vh;
}

.top-placeholder-15 {
    height: 15vh;
}

.top-placeholder-10 {
    height: 10vh;
}

.top-placeholder-5 {
    height: 5vh;
}

#sidebar {
    min-width: 320px;
    max-width: 320px;
    min-height: 100vh;
    margin-left: -320px;
    background: #fff;
    color: rgb(15, 15, 15);
    transition: all 0.3s;
    z-index: 10001;
    opacity: 0.9;
    filter: alpha(opacity=90);
    position: fixed;
}

#sidebar.active {
    margin-left: 0px;
}

.sidebarCollapse {
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
}

.sidebarCollapse:hover {
    font-size: 1.4em;
}




.sidebarCollapse.active {
    display: none;
}



.sidebar-close {
    color: black;
    text-align: right;
    padding: 4px;
}

#sidebar .sidebar-header {
    padding: 1vh;
    color: #ff0037;
    background: #fff;
}

#sidebar ul.components {
    padding: 1vh 0;
    margin-bottom: 0.2vh;
}

#sidebar ul p a {
    font-size: 2vh;
    color: rgb(15, 15, 15);
    padding: 0px 0px 0px 10px;
    margin-bottom: 0.4vh;
    padding-right: 5px;
}

#sidebar ul p a:hover {
    color: #fff;
    background: #ff0037;
    
}

#sidebar ul li a {
padding: 4px 0px 4px 20px;
font-size: 1.5vh;
display: block;
font-family: unit-light;
line-height: 1.6vh;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #ff0037;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #ff0037;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

#sidebar hr {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.redButton{
    background-color:red;
    border-color:red;
}

.redButton:hover{
    background-color:#a00000;
    border-color: #a00000;
}

.enormediaLogoHover {
    width: 160px;
}

#enormediaLogo {
    content: url("./assets/img/logos/enormedia-kontur.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    opacity: 1 !important;
    position:absolute;
    top: 24px;
    z-index:10000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.facebookIcon {
    content: url("./assets/img/logos/facebook.png");
    display: block;
    position:absolute;
    opacity: 1 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 16px;
    right: 3vw;
    width: 1vw;
    z-index: 10000;
}

.xingIcon {
    content: url("./assets/img/logos/xing.png");
    display: block;
    position:absolute;
    opacity: 1 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 16px;
    right: 5vw;
    width: 2vw;
    z-index: 10000;
}

#navContainer:hover #navbarTop{
    height: 70px !important;
    opacity: 1 !important;
    background-color: rgba(255, 255, 255, 1) !important; 
}

#navContainer:hover #enormediaLogo{
    top:40px !important;
    content: url("./assets/img/logos/enormedia-kontur.png") !important;
    width:10em !important;
}

.logoHidden{
    content: url("./assets/img/logos/enormedia.png") !important;
    top:20px !important;
    width:6em !important;
}

#navContainer:hover .xingIcon{
    width:3vw !important;
    right: 6vw;
}

#navContainer:hover .facebookIcon{
    width:1.5vw !important;
}

#navbarTop {
    height: 50px;
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbarHidden{
    background-color: rgba(255, 255, 255, 0.5) !important; 
}




#wieso1 {
    background: url('./assets/img/background/redBackground.jpg') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#wieso2 {
    background: url('./assets/img/background/light_grey.jpg') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position:relative;
}

#wieso3 {
    background: url('./assets/img/background/light_grey.jpg') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position:relative;
}

#wieso4 {
    background: url('./assets/img/background/redBackground.jpg') top left no-repeat;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position:relative;
}

#wie5 {
    background: url('./assets/img/background/redBackground.jpg') top left no-repeat;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position:relative;
}

#was8 {
    background: url('./assets/img/background/redBackground.jpg') top left no-repeat;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position:relative;
}

#wer4 {
    background: url('./assets/img/background/redBackground.jpg') top left no-repeat;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position:relative;
}


.map{

}

#wie1 {
    background: url('./assets/img/background/redBackground.jpg') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#wie1-mann-background {
    background: url('./assets/img/background/einfach2.png') top right no-repeat;
    height: 90vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20vw bottom;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40vw;
    opacity: 0.9;
}

#wie1-frau-background {
    background: url('./assets/img/background/einfach1.png') top left no-repeat;
    height: 90vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -5vw bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40vw;
    opacity: 0.9;
}

#wie1-mann-background-sm {
    background: url('./assets/img/background/einfach2.png') top right no-repeat;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    width: 30vw;
    top: 4vh;
    right: 6vw;
    opacity: 0.9;
}

#wie1-frau-background-sm{
    background: url('./assets/img/background/einfach1.png') top left no-repeat;
    height:  40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
    top: 4vh;
    left: 6vw;
    width: 30vw;
    opacity: 0.9;
}

#wer1-team-background-sm{
    background: url('./assets/img/background/jederzeit.png') top left no-repeat;
    height:  20vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    top: 14vh;
    left: 5vw;
    width: 90vw;
    opacity: 0.9;
}

#was1-hand-links-background {
    background: url('./assets/img/background/alles2.png') top right no-repeat;
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    bottom: 0;
    right: 10vw;
    width: 40vw;
    opacity: 0.9;
}

#was1-hand-rechts-background {
    background: url('./assets/img/background/alles1.png') top left no-repeat;
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
    bottom: 0;
    left: 10vw;
    width: 42vw;
    opacity: 0.9;
}

#wer1-team-background {
    background: url('./assets/img/background/jederzeit.png') top left no-repeat;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    bottom: 0vh;
    left: 10vw;
    width: 80vw;
    opacity: 0.9;
}

#wieso1-mann-background {
    background: url('./assets/img/background/nichts.png') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20vh 0vh;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60vw;
    opacity: 0.9;
}

#wieso1-mann-background-sm{
    background: url('./assets/img/background/nichts.png') top left no-repeat;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    top: 7vh;
    left: 5vw;
    width: 90vw;
    opacity: 0.9;
}

#wie2 {
    background: url('./assets/img/background/light_grey.jpg') top left no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position:relative;
    height: 100vh;
}

#wie2-text-wrapper {
    background: url('./assets/img/wie/wie2-text-opacity.png') top left no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4em 0em;
    -moz-box-shadow: inset 0px -11px 8px -10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px -11px 8px -10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -11px 8px -10px rgba(0, 0, 0, 0.5);
    height:30vh;
}

#wie3 {
    background: url('./assets/img/wie/wie-3.png') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% center;
    position:relative;
}

#wie4 {
    background: url('./assets/img/wie/wie-4.png') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position:relative;
}

#regiopinion-logo {
    margin-top: 1em;
    height: 3em;
    background: url('./assets/img/logos/umfrageheld.png') top left no-repeat;
    background-size: auto 3em;
    background-repeat: no-repeat;
    background-position: center center;
}

#was1 {
    background: url('./assets/img/background/redBackground.jpg') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#was2 {
    background: url('./assets/img/was/was-2.png') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#was3 {
    background: url('./assets/img/was/was-3-verteilung.jpg') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#was4 {
    background: url('./assets/img/was/print.jpg') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#was5 {
    background: url('./assets/img/was/plakat.jpg') top left no-repeat;
    height: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#was6 {
    background: url('./assets/img/was/online.jpg') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#was7 {
    background: url('./assets/img/was/radio.jpg') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#wer1 {
    background: url('./assets/img/background/redBackground.jpg') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#wer2 {
    background: url('./assets/img/background/light_grey.jpg') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#wer3 {
    background: url('./assets/img/background/light_grey.jpg') top left no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

/* #wer4 {
    background: url('./assets/img/background/redBackground.jpg') top left no-repeat;
    height:20vh;
    background-size:     cover;                 
    background-repeat:   no-repeat;
    background-position: center center; 
} */

.sub-navbar {
    position: absolute;
    z-index: 8999;
    color: white;
    padding: 1em;
    margin-left: -1em;
    top: 50px;
left: 0px;
}

.sub-navbar a.active {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2em !important;
    font-weight: normal !important;
    opacity: 1;
    filter: alpha(opacity=100);
}

.sub-navbar a {
    margin-top: 10px;
    padding: 10px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.sub-navbar a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.sub-navbar-divider {
    margin-left: 0px;
    width: 240px;
    border: 0; 
        height: 1px; 
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#fp-nav {
    display: none !important;
}

.angle-right-container {
    position: absolute;
    width: 12em;
    right: 1em;
    color: white;
    display: inline;
    bottom: 50vh;
    text-align: right;
}

.sm-angle-right-container {
    position: absolute;
    width: 12em;
    right: 1em;
    color: white;
    display: inline;
    top: 100vh;
    text-align: right;
    display: none;
}

.sm-angle-left-container {
    position: absolute;
    width: 12em;
    right: 1em;
    color: white;
    display: inline;
    top: 100vh;
    text-align: right;
    display: none;
}

.angle-left-container {
    position: absolute;
    color: white;
    display: inline;
    bottom: 50vh;
    left: 1em;
    width: 8em;
}

.angle-right-container-black {
    position: absolute;
    right: 10px;
    color: black;
    display: inline;
    top: 50%;
    width: 180px;
}

.angle-down-container-black {
    position: absolute;
    color: black;
    display: inline;
    bottom: 2vh;
    width: 100vh;
}

.angle-right-text {
    font-family: unit-light-italic;
    font-size: 0.8em;
    margin-top: 1em;
    margin-right: -4em;
}

.angle-left-text {
    font-family: unit-light-italic;
    font-size: 0.8em;
    margin-top: 1em;
    margin-left: -2em;
}

.angle-down-text {
    font-family: unit-light-italic;
    font-size: 0.8em;
    margin-top: 1em;
    text-align: center;
}

.angle-down-text-container{
    width:30vw;
}

.angle-down-arrow-container{
    width:30vw;
}

#wieso2-text-wrapper {
    color: black;
    font-family: unit-light-italic;
    background: url("./assets/img/wieso/em.svg") top left no-repeat;
    background-size: contain;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    height: 80%;
}

#wer2-mitarbeiter-wrapper {
    background: url("./assets/img/wieso/em.svg") top left no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.wie2-carousel-right-arrow{
    background: url("./assets/img/background/right-arrow.png") top left no-repeat;
    background-size: 6vh;
    background-repeat: no-repeat;
    background-position: left 50%;
}

.wie2-carousel-left-arrow{
    background: url("./assets/img/background/left-arrow.png") top left no-repeat;
    background-size: 6vh;
    background-repeat: no-repeat;
    background-position: right 50%;
}

.wer2-carousel-right-arrow{
    background: url("./assets/img/background/right-arrow.png") top left no-repeat;
    background-size: 6vh;
    background-repeat: no-repeat;
    background-position: left 50%;
}

.wer2-carousel-left-arrow{
    background: url("./assets/img/background/left-arrow.png") top left no-repeat;
    background-size: 6vh;
    background-repeat: no-repeat;
    background-position: right 50%;
}

#item-mitarbeiter-kolja {
    background: url("./assets/img/wer/mitarbeiter/kolja-fuge.png") top left no-repeat;
    background-size: contain;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    height: 34em;
}

.text-question {
    //font-size: 1.2em;
    color: white;
    //line-height: 0.4em;
    font-family: unit-light;
    text-align: center;
}

.text-buzzword {
    font-family: unit-ultra;
    //font-size: 10em;
    margin: 5px;
    color: white;
    line-height: 0.8em;
}

.text-details {
    font-size: 0.9em;
    color: white;
    font-family: unit-light;
}

.text-underline{
    text-decoration: underline;
}

.text-black-header {
    font-family: unit-black;
    color: black;
    font-size: 1em;
}

.text-black-details {
    font-family: unit-light;
    color: black;
    font-size: 0.9em;
}

hr.content-text-divider {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

hr.wie2-content-text-divider {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.footer-navbar {
    position: absolute;
    z-index: 8999;
    color: white;
    bottom: 2vh;
    left: 2vw;
}

.footer-navbar a.active {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2em;
    opacity: 1;
    z-index: 8999;
    filter: alpha(opacity=100);
}

.footer-navbar a:hover {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.1em;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    z-index: 8999;
}

.footer-navbar a {
    margin-top: 10px;
    padding: 10px;
    opacity: 0.9;
    z-index: 8999;
    filter: alpha(opacity=90);
    transition: all 500ms;
}

.subwayLogo {
    content: url("./assets/img/customers/subway-logo.png");
}

.milramLogo {
    content: url("./assets/img/customers/milram-logo.png");
}

.map-header-text {
    font-family: unit-black;
    color: white;
    font-size: 0.8em;
    display: block !important;
}

.map-address-text {
    font-family: unit-light;
    color: white;
    font-size: 0.7em;
    display: block !important;
}

#loading {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    z-index: 100000;
}

#loading-logo {
    background: url('./assets/img/logos/enormedia.png') top left no-repeat;
    background-size: 2em auto;
    height: 2em;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
}

.object {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    float: left;
    margin-right: 20px;
    margin-top: 65px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
}

#object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}

#object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

#object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.navigation-footer {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.29) 49%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.29) 49%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.29) 49%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
    height: 10vh;
    bottom: 0;
    position: absolute;
    display: none;
    margin-left: auto;
    z-index: 100;
}

.contact-container{
    top: 2vh;
    left: 50vw;
    position: absolute;
}

.angle-down-container{
    position: absolute;
       color: white;
       display: inline;
       bottom: 0vh;
       margin-left:auto;
       margin-right:auto;
       width: 30vw;
       left: 35vw;
       z-index:200;
}

#contact-form-wrapper{
    background: url('./assets/img/background/light_grey.jpg') top left no-repeat;
        height: 60vh !important;
        width: 60vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
}

.text-black{
    color:black !important;
}

.white{
    color:white !important;
}

.beratung-icon{
    background: url('./assets/img/wie/Beratung.png') top left no-repeat;
}

.analyse-icon{
    background: url('./assets/img/wie/Analyse.png') top left no-repeat;
}

.controlling-icon{
    background: url('./assets/img/wie/Controlling.png') top left no-repeat;
}

.einkauf-icon{
    background: url('./assets/img/wie/Einkauf.png') top left no-repeat;
}

.planung-icon{
    background: url('./assets/img/wie/Planung.png') top left no-repeat;
}
.carousel-icon{
    height: 2em !important;
    width: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    display: inline-block;
    margin-right:-25%;
    border: none;
}

.skill-list-icon-img{
    height: 2em !important;
    width: 2em !important;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: right center;
    display: inline-block;
}

.mailing-icon{
    background: url('./assets/img/was/VER_Mailing.png') no-repeat;
} 

.prospekt-icon{
    background: url('./assets/img/was/VER_Prosp.png') no-repeat;
} 

.flyer-icon{
    background: url('./assets/img/was/VER_Flyer.png') no-repeat;
} 

.beilagen-icon{
    background: url('./assets/img/was/VER_Beilagen.png') no-repeat;
} 

.strategie-icon{
    background: url('./assets/img/was/AZ_Strat.png') no-repeat;
} 

.ziel-icon{
    background: url('./assets/img/was/AZ_Ziel.png') top left no-repeat;
} 

.buchung-icon{
    background: url('./assets/img/was/AZ_Buch.png') top left no-repeat;
} 

.druck-icon{
    background: url('./assets/img/was/AZ_Druck.png') top left no-repeat;
} 

.kosten-icon{
    background: url('./assets/img/was/AZ_Kosten.png') top left no-repeat;
} 

.offset-druck-icon{
    background: url('./assets/img/was/DRU_Offset.png') top left no-repeat;
}

.digital-druck-icon{
    background: url('./assets/img/was/DRU_Digital.png') top left no-repeat;
}

.hochdruck-icon{
    background: url('./assets/img/was/DRU_Hoch.png') top left no-repeat;
}

.tiefdruck-icon{
    background: url('./assets/img/was/DRU_Tief.png') top left no-repeat;
}

.siebdruck-icon{
    background: url('./assets/img/was/DRU_Sieb.png') top left no-repeat;
}

.city-icon{
    background: url('./assets/img/was/PLA_City.png') top left no-repeat;
}

.gf-icon{
    background: url('./assets/img/was/PLA_GF.png') top left no-repeat;
}

.litfass-icon{
    background: url('./assets/img/was/PLA_Litfass.png') top left no-repeat;
}

.tafel-icon{
    background: url('./assets/img/was/PLA_Tafel.png') top left no-repeat;
}

.wechsel-icon{
    background: url('./assets/img/was/PLA_Wechsel.png') top left no-repeat;
}

.kampa-icon{
    background: url('./assets/img/was/DIG_Kampa.png') top left no-repeat;
}

.recht-icon{
    background: url('./assets/img/was/DIG_Recht.png') top left no-repeat;
}

.sem-icon{
    background: url('./assets/img/was/DIG_SEM.png') top left no-repeat;
}

.seo-icon{
    background: url('./assets/img/was/DIG_SEO.png') top left no-repeat;
}

.radio-icon{
    background: url('./assets/img/was/Radio.png') top left no-repeat;
}

.fernseh-icon{
    background: url('./assets/img/was/TV.png') top left no-repeat;
}

@-webkit-keyframes object_one {
    75% {
        -webkit-transform: scale(0);
    }
}

@keyframes object_one {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@-webkit-keyframes object_two {
    75% {
        -webkit-transform: scale(0);
    }
}

@keyframes object_two {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@-webkit-keyframes object_three {
    75% {
        -webkit-transform: scale(0);
    }
}

@keyframes object_three {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    #wieso1-mann-background{
        background-position: -20vw 10vh;
    }
    
    #wie1-mann-background {
        background-position: 15vw bottom;
    }
    
    #wie1-frau-background {
        background-position: -12vw bottom;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    body {
        font-size: 14px;
    }

    .carousel-detail-text {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    body {
        font-size: 12px;
    }

    .carousel-detail-text {
        font-size: 1.4em;
    }
}
@media screen and (max-width: 768px) {

    .sidebarCollapse {
        font-size: 1.8em
        
    }

    .sidebarCollapse:hover {
        font-size: 2em
        
    }


    #sidebar.active {
        margin-left: 0;
    }
    #wieso1-footer {
        display: none;
    }

    .navigation-footer {
        display: block;
    }
    .angle-left-container {
        bottom: 3vh !important;
        z-index: 200;
    }

    .angle-right-container {
        bottom: 3vh !important;
        z-index: 200;
    }

    .facebookIcon {
        right: 2em;
        width: 1.5em;
    }
    
    .xingIcon {
        right: 5em;
        width: 3em;
    }

    #navContainer:hover .xingIcon{
        width: 5em !important;
        right: 6em;
    }
    
    #navContainer:hover .facebookIcon{
        width: 2.5em !important;
        right: 2em;
    }
}
@media screen and (max-width: 560px) {

    .facebookIcon {
        right: 2em;
        width: 1.5em;
    }
    
    .xingIcon {
        right: 5em;
        width: 3em;
    }

    #navContainer:hover .xingIcon{
        width: 5em !important;
        right: 6em;
    }
    
    #navContainer:hover .facebookIcon{
        width: 2.5em !important;
        right: 2em;
    }

    #was1-hand-links-background {
        right: 0vw;
    }

    body {
        font-size: 10px;
    }
    
    #was1-hand-rechts-background {
       left:0vw;
    }

    #was2{
        background-position: left bottom;
    }

    #was3{
        background-position: 80% center;
    }

    #was4{
        background-position: right top;
    }

    #was5{
        background-position: 30% top;
    }

    #was6{
        background-position: 20% top;
    }
    #was7{
        background-position: 70% bottom;
    }
    .angle-right-container {
        bottom: 3vh !important;
        z-index: 200;
        position: absolute;
    }
}

