.customerBox {
-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
margin-top: 5px;

margin-left: 5px;

margin-right: 5px;

margin-bottom: 5px;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
}

.customerLogo {
    width: 100%;
    height: auto;
    padding: 2px;
}

@media screen and (max-width: 768px) {
    .customerBox {
        height: 10vh;
    }
    
}